<%- include ("partials/header") %>
        <div class="ui main text container">
                <div class="ui huge header">A simple NodeJS Login/Register API with a Secret Users page</div>
                <div class="ui divided items">
                      <div class="item">
                              <div class="content">
                                      Server command
                                      <div class="description">npm run-script build</div>   
                              </div>
                      </div>
                      <div class="item">
                                <div class="content">
                                        Technology and packages used
                                        <div class="description">
                                                <ul>
                                                       <li>NodeJS Engine</li>
                                                       <li>Express 4.17.1</li>
                                                       <li>Embedded JS (EJS) 3.1.5</li>
                                                       <li>Express Session 1.17</li>
                                                       <li>Mongoose 5.11</li>
                                                       <li>Passport.js 0.4.1</li>
                                                       <li>Passport Local 1.0</li>
                                                       <li>Passport Local Mongoose 6.0.1</li>
                                                </ul>
                                        </div>
                                </div>
                      </div>
                      <div class="item">
                                <div class="content">
                                        Author
                                        <div class="description">Shubham Patel [shubhvinpatel98@gmail.com]</div>   
                                </div>
                        </div> 
                </div>
        </div>
<%- include ("partials/footer") %>